/**Variables del tema*/
$primario: var(--azul);
$importante: var(--marino);
$warning: var(--celeste);
$principal-font-family: serif;
$principal-font-size: 1rem;
$secondary-font-family: serif;
$secondary-font-size: 0.75rem;
$box-shadow: 10px 10px 10px;
$border-rad: var(--less);
