/**Variables del tema*/
$primario: var(--rojo);
$importante: var(--marron);
$warning: var(--rosa);
$principal-font-family: sans-serif;
$principal-font-size: 1.5rem;
$secondary-font-family: sans-serif;
$secondary-font-size: 1rem;
$box-shadow: 0 10px 10px;
$border-rad: var(--more);
